@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  color: #333333;
  background-color: #FFFFFF;
}

.navigation-link {
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-decoration: none;
}

.first-screen-tagline {
  background-image: url("../images/background-main.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.tagline-divider {
  content: '';
  width: 100%;
  height: 57px;
  background-image: url("../images/divider.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.first-screen-text{
  line-height: 36px;
}

.text-heading {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  color: #000000;
}

.text-bottom {
  font-size: 22px;
  font-weight: 400;
  text-align: center;
}

.advantages {
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.advantages-item:nth-child(1),
.advantages-item:nth-child(2)
{
  color: #FFFFFF;
  background-color: #83B3D3;
}

.advantages-item:nth-child(3),
.advantages-item:nth-child(5)
{
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(4){
  background-color: rgba(131, 179, 211, 0.2);
}

.additional-list {
  background-color: #FFFFFF;
  color: #333333;
}

.additional-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-title,
.additional-title
{
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.hotel-search .text-bottom {
  line-height: 26px;
}
