@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  color: #333333;
  background-color: #F2F2F2;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
}

.main-container {
  flex-grow: 1;
}

.button {
  background-color: #756257;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  cursor: pointer;
}

.button-blue {
  background-color: #83B3D3;
}

.button-green {
  background-color: #7DB54F;
}

.reset {
  background: none;
  border: none;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}

.navigation-item {
  margin: 20px 17px;
}

.navigation-item .button {
  color: #FFFFFF;
}

.button-catalog {
  display: block;
  width: 575px;
  margin: 0 auto;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  font-weight: 700;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-logo {
  width: 139px;
  margin-right: 30px;
}

.navigation-list {
  display: flex;
  width: 440px;
  margin: 0;
  padding: 0;
}

.navigation-user {
  max-width: 300px;
  margin-left: auto;
}

.navigation-link {
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-decoration: none;
}

.first-screen-tagline {
  background-image: url("../images/background-main.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.tagline-text {
  display: block;
  margin: 0 auto;
}

.tagline-divider {
  content: '';
  width: 100%;
  height: 57px;
  background-image: url("../images/divider.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.first-screen-text{
  width: 720px;
  margin: 0 auto;
  line-height: 36px;
}

.text-heading {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.text-bottom {
  width: 720px;
  margin: 0 auto;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  color: #333333;
}

.advantages {
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-align: center;
  text-decoration: none;
}

.advantages-item {
  width: 400px;
}

.advantages-description,
.advantages-description
{
  width: 250px;
  margin: 0 auto;
}

.advantages-item:nth-child(1),
.advantages-item:nth-child(2)
{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  color: #FFFFFF;
  background-color: #83B3D3;
}

.advantages-item:nth-child(1) > .advantages-description,
.advantages-item:nth-child(2) > .advantages-description
{
  width: 220px;
  margin: 0 auto;
}

.advantages-item:nth-child(3),
.advantages-item:nth-child(5)
{
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(4){
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-text {
  width: 400px;
}

.additional-list {
  display: flex;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  color: #333333;
}

.additional-item {
  width: 400px;
}

.additional-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-title,
.additional-title
{
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.hotel-search .text-bottom {
  line-height: 26px;
}

.inner-header {
  background-color: #83B3D3;
  background-image: url("../images/background-catalog.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  color: #FFFFFF;
}

.header-block {
  width: 1057px;
  margin: 0 auto;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  display: flex;
  gap: 11px;
  margin: 0;
  padding: 0;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: #FFFFFF;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-title {
  font-weight: 700;
}

.catalog-filter-group {
  width: 217px;
  margin: 0;
  padding: 0;
  border: 0;
}

.catalog-filter-group:nth-child(2) {
  width: 312px;
}

.catalog-filter-group:nth-child(3) {
  width: 368px;
}

.catalog-filter-group:nth-child(4) {
  display: flex;
  flex-direction: column;
  width: 160px;
}

.sorting-list {
  display: flex;
  align-items: center;
  width: 1057px;
  margin: 0 auto;
}

.sorting-block {
  display: flex;
  flex-direction: column;
  width: 160px;
  margin-left: 81px;
}

.hotel-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 1058px;
  margin: 0 auto;
  padding: 0;
}

.hotel-card {
  width: 339px;
  padding: 20px;
  box-sizing: border-box;
}

.control {
  font-size: 18px;
  line-height: 23px;
}

.catalog-filter .button {
  line-height: 20px;
}

.catalog-filter .reset {
  line-height: 23px;
  text-transform: capitalize;
}

.found-number {
  width: 338px;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  color: #000000;
}

.hotel-card .button {
  line-height: 21px;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
}

.hotel-card-type,
.hotel-card-price
{
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.product-card-rating {
  background-color: #F2F2F2;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}

.load-block .button {
  display: block;
  width: 620px;
  margin: 0 auto;
  background-color: #83B3D3;
  font-size: 20px;
  line-height: 26px;
}

.pagination {
  width: 369px;
  display: flex;
  margin: 0;
  padding: 0;
}

.pagination-item {
  width: 55px;
}

.pagination-link {
  background-color: #83B3D3;
  font-size: 20px;
  line-height: 26px;
}

.pagination-current {
  background-color: #F2F2F2;
  color: #000000;
}

.select-control {
  width: 287px;
  margin-left: 191px;
}

.pagination-select {
  width: 160px;
  margin-left: 51px;
}

.select-control-label {
  width: 175px;
  margin-left: 301px;
  font-size: 18px;
  line-height: 23px;
}

.newsletter {
  background-color: #83B3D3;
  background-image: url("../images/background-mailing.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.newsletter-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.newsletter-info {
  width: 720px;
  margin: 0 auto;
  font-size: 22px;
  text-align: center;
  color: #FFFFFF;
}

.newsletter-form {
  text-align: center;
}

.newsletter-button {
  background-color: #83B3D3;
  font-size: 20px;
  line-height: 26px;
}

.main-inner .newsletter{
  background: none;
}

.main-inner .newsletter-title {
  color: #000000;
}

.main-inner .newsletter-info {
  color: #333333;;
}

.page-footer {
  display: flex;
  justify-content: space-between;
}

.footer-social,
.footer-made-in
{
  width: 240px;
}

.footer-social-item .button {
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
}

.footer-contacts {
  width: 720px;
}

.footer-phone {
  display: block;
  width: 100%;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}
